# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.log

# Arduino / build
*.ino.cpp
*.elf
*.hex

# Pastas de IDE
.vscode/
.idea/

# Dependências (se usar no futuro)
node_modules/

# Arquivos grandes opcionais (caso não queira subir)
*.mp4
*.zip
